<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="sogou_site_verification" content="mjUgVUUD6g"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="applicable-device"content="pc,mobile">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta name="baidu-tc-verification" content="bd449835a2ae9efe3742af55a15d5b30" /><!--百度手机-->
<meta name="sogou_site_verification" content="rSnQqYtx5f"/>
<link rel="shortcut icon" href="favicon.ico">
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css">
<style type="text/css">
.nav-bar{text-align:center;width:1170px;font-size:16px;}
.nav-bar li{float:left;line-height:33px;}
.nav-bar li.home-page{width:115px;}
.nav-bar li.nav-list{width:125px;}
.nav-bar li.nav-seperate{margin-left:150px;}
.nav-bar li span{color:#fff;}
.nav-bar a{display:block;color:#FFF;}
.nav-bar a img{width:18px;margin:0 5px 2px 0;}
.nav-bar a:hover{color:#fef600;}
</style>
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
</head>
<body>
<div class="headerbg">
<div class="body-top">
    <div class="content">
   
    		<div class="announ">
                 <ul>
					<li><a href="{APP_PATH}" style="padding-left:0;"><img src="{IMG_PATH}VIP/v1.png" style="width:16px;height:16px;position:relative;top:-2px;right:2px;">首页</a></li>
					<li>
						<a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=89">
							<img src="{IMG_PATH}VIP/v2.png" style="width:14px;height:14px;position:relative;top:-2px;right:2px;">全部课程</a>
					</li>
					<li style="background:url({IMG_PATH}VIP/v3.gif) no-repeat left center;margin-left:10px;"><a href="javascript:void()" class="a1">白金会员</a></li>
					<li style="background:url({IMG_PATH}VIP/mobile.png) no-repeat left center;margin-left:10px;"><a href="javascript:void()" class="a1">移动学习</a></li>
                 </ul>
            </div>
   

            <div class="login lh24 blue">
			
			<span class="rt">
<script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="300" height="24" frameborder="0" scrolling="no"></iframe>')</script></span>
</div>

    </div>
</div>
</div>
<div class="bg-f0" style="margin-bottom:-106px;"></div>
<div class="header">
		<div class="logo">
			<a href="{APP_PATH}"><img src="{IMG_PATH}logo3.png" /></a> 
		</div>
		<div class="search">
			<div class="lanren-search-form">
				<div id="search-bd" class="search-bd">
					<ul>
						<li class="selected">视频</li>
						<li>课程</li>
						<li>文章</li>						
					</ul>
				</div>
				<div id="search-hd" class="search-hd">
					<div class="search-bg"></div>
					<form action="{APP_PATH}index.php" method="get" target="_blank" id="s1" class="search-input">
						<input type="hidden" name="m" value="search"/>
						<input type="hidden" name="c" value="index"/ >
						<input type="hidden" name="a" value="init"/>
						<input type="hidden" name="typeid" value="128" id="typeid"/>
						<input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
						<input type="text" class="text" name="q" id="q" placeholder="请输入您想查找的视频名称">
						<button id="submit" class="btn-search search_right" value="搜索">搜索</button>
					</form>
					<form action="{APP_PATH}index.php" method="get" target="_blank" id="s2" class="search-input">
						<input type="hidden" name="m" value="search"/>
						<input type="hidden" name="c" value="index1"/ >
						<input type="hidden" name="a" value="init"/>
						<input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
						<input type="text" class="text" name="q" id="q" placeholder="请输入您想查找的课程名称">
						<button id="submit" class="btn-search search_right" value="搜索">搜索</button>
					</form>
					<form action="{APP_PATH}index.php" method="get" target="_blank" id="s3" class="search-input">
						<input type="hidden" name="m" value="search"/>
						<input type="hidden" name="c" value="index"/ >
						<input type="hidden" name="a" value="init"/>
						<input type="hidden" name="typeid" value="1" id="typeid"/>
						<input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
						<input type="text" class="text" name="q" id="q" placeholder="请输入您想查找的文章">
						<button id="submit" class="btn-search search_right" value="搜索">搜索</button>
					</form>
					
				</div>
			<script>
				$(function(){
					//通用头部搜索切换
					$('#search-hd .search-input').on('input propertychange',function(){
						var val = $(this).val();
						if(val.length > 0){
							$('#search-hd .pholder').hide(0);
						}else{
							var index = $('#search-bd li.selected').index();
							$('#search-hd .pholder').eq(index).show().siblings('.pholder').hide(0);
						}
					})
					$('#search-bd li').click(function(){
						var index = $(this).index();
						$('#search-hd .pholder').eq(index).show().siblings('.pholder').hide(0);
						$('#search-hd .search-input').eq(index).show().siblings('.search-input').hide(0);
						$(this).addClass('selected').siblings().removeClass('selected');
						$('#search-hd .search-input').val('');
					});
				})
			</script> 
		</div>
	</div>
    <div class="bk3"></div>
    <div class="nav-bar">
    	<ul>
          	<li class="home-page"><a href="http://www.51niutu.com/">首&nbsp;&nbsp;&nbsp;页</a></li>
          	<li><span>|</span></li>
          	<li class="nav-list"><a href="#"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/zhibo.png"/>股市直播</a></li>
          	<li class="nav-list"><a href="#"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/anli.png"/>案例精讲</a></li>
          	<li class="nav-list"><a href="http://www.51niutu.com/index.php?m=content&c=index&a=lists&catid=103"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/wenda.png"/>互动问答</a></li>
          	<li class="nav-list"><a href="http://www.51niutu.com/html/ganyan/index.html"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/xueyuan.png"/>学员感言</a></li>
          	<li class="nav-list"><a href="http://www.51niutu.com/html/shouhou/index.html"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/shouhou.png"/>售后服务</a></li>
          	<li class="nav-list nav-seperate"><a href="#"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/jingpin.png"/>精品课</a></li>
          	<li class="nav-list"><a href="#"><img src="http://www.51niutu.com/statics/images/nav-pic/headnav-pic/vip.png"/>开通VIP会员</a></li>
    	</ul>
    </div> 
</div>
</div>
