@charset "utf-8";
/*新增首页样式 BY ZJH 2017.4*/
/*导航菜单部分*/
.nav-bar{margin:0 auto;text-align:center;width:1170px;line-height:40px;font-size:16px;}
.nav-bar li{float:left;list-style:none;}
.nav-bar li.home-page{width:115px;}
.nav-bar li.nav-list{width:125px;}
.nav-bar li.nav-seperate{margin-left:150px;}
.nav-bar li span{color:#fff;}
.nav-bar a{display:block;text-decoration:none;color:#FFF;}
.nav-bar a img{width:18px;margin:0 5px 4px 0;}
.nav-bar a:hover{color:#fef600;text-decoration:none;}
<!--栏目标题样式-->
.section-title{overflow:hidden;width:100%;}
.section-title p{font-size:22px;color:#F60;font-family:"宋体";font-weight:600;padding:0 0 2px 5px;border-bottom:1px solid #e3e3e3;display:block;margin:30px 0;}
.section-title p img{padding-bottom:5px;padding-right:5px;width:20px;height:20px;}
.section-title p span{font-size:17px;color:#666;font-weight:300;margin-left:20px;}
.section-title p a{font-size:14px;font-weight:300;color:#666; float:right;padding-top:10px; margin-right:20px;}
.section-title p a:hover{color:#F60;}
/*左侧导航开始*/
.leftnav{float:left;width:115px;}
.leftnav li{height:94px;background-color:#FEE4DA;width:115px;float:left;-webkit-transition:background 0.4s ease;-moz-transition:background 0.4s ease;-o-transition:background 0.4s ease;transition:background 0.4s ease;}
.leftnav li+li{border-top:1px #BF8787 dashed;}
.leftnav li:hover{background-color:#F16A6A;}
.leftnav li a{color:#A90000;display:block;text-align:center;}
.leftnav li a img{width:40px;padding:15px 0 5px;}
.leftnav li a span{display: block;font-size:16px;}
/*焦点图部分*/
.slide img{float:left;}
.banner-card{background: url(../images/star-pic.jpg) no-repeat  -275px -40px;float:right;width:308px;height:360px;overflow:hidden;text-align:center;color:#fff;font-family:"微软雅黑";position:relative;}
.banner-card .plan-type{margin:25px 10px 0;font-size:18px;display:inline-block;}
.banner-card .plan-title{margin:15px;font-size:16px;font-weight:600;}
.banner-card .plan-intro{text-align:left;font-size:14px;padding:0 5px;height:60px;overflow:hidden;}
.banner-card .plan-teacher,.banner-card .plan-time{width:30%;display:inline-block;float:left;position:absolute;bottom:105px;}
.banner-card .plan-teacher{left:50px;}
.banner-card .plan-time{left:165px;}
.banner-card .plan-teacher .t-head,.banner-card .plan-time .t-head{font-size:16px;}
.banner-card .plan-teacher .t-body,.banner-card .plan-time .t-body{margin-top:10px;font-size:16px;color: #ff5734;}
.banner-card .buy-button {display:inline-block;width:180px;height:45px;line-height:45px;font-size:20px;color:#fff;background:#ff5734;border-radius:3px;position:absolute;bottom:35px;left:64px;}
/*焦点图下方公告栏+机构栏*/
.col-auto{overflow:hidden;float:right;width:1054px;}
.announce{width:308px;height:112px;border-left:1px solid #E8E0E0;float:right;font-size:12px;overflow:hidden;background: #F16A6A;color:#fff;}
.announce-title{height:20px;font-size:16px;border-bottom:1px solid #e8e8e8; padding:5px;}
.announce-title img{ width:16px; height:22px; padding-bottom:2px;padding-right:5px;}
.announce .announce-box{line-height:20px;padding-top:5px;}
.announce .announce-box li{width:350px;float:left;text-overflow:ellipsis;}
.announce .announce-box li a{color:#272829;}
.announce .announce-box li a:hover{color:#fff;}
.announce .announce-box li span{color:#fff;}
.our-honor{width:745px;float:left;overflow:hidden;border-bottom:1px solid #E8E0E0;height:112px;color:#fff;background: #F16A6A;}
.our-honor li{float:left;width:220px; margin-left:5px;padding:25px 10px 15px;}
.our-honor li img{width:60px;float:left;margin-right:5px; border-radius:50%;}
.our-honor li h3{font-size:16px;margin-bottom:5px;font-weight:500; cursor:text;}
/*在线客服部分*/
.service{margin:15px 0;background:#e2e2e2;overflow:hidden;}
.service .left{width:700px;color:#a40501;overflow:hidden;float:left;border-right:1px solid #fff;}
.service .left .icon{width:160px;float:left;}
.service .left .icon img{padding:45px 30px;}
.service .left .text{margin-left:160px;width:540px;}
.service .left .title{font-size:30px;font-weight:bold;text-align:center;margin:15px 0;}
.service .left .number{font-size:18px;margin:3px 0;}
.service .left .number a{display:inline-block;width:160px;height:35px;background:#a40501;text-align:center;border-radius:5px;line-height:35px;color:#fff;margin:0 5px;}
.service .left .number a:hover{background:#d40000;}
.service .left .time{font-size:18px;text-align:center;margin-top:5px;}
.service .right{width:470px;margin-left:700px;}
.service .right .title{font-size:30px;font-weight:bold;text-align:center;margin:7px 0 10px;}
.service .right .number{font-size:18px;line-height:35px;padding-left:10px;}
/*热门课程部分*/
.hotcourse{ margin-top:20px; overflow:hidden;}
.hotcourse li{position:relative;width:354px;float:left;margin-right:18px;margin-bottom:2px;border:1px solid transparent;padding:7px;}
.hotcourse li:hover{border-color:#CCC;box-shadow:2px 2px 2px #ccc;-moz-box-shadow:2px 2px 2px #ccc;-webkit-box-shadow:2px 2px 2px #ccc;}
.hotcourse li img{width:354px;height:200px;}
.hotcourse li .course-mask{position:absolute; width:344px;height:24px;line-height:24px;font-size:12px;color:#fff; background-color:rgba(0,0,0,.6);filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#99000000', endColorstr='#99000000');margin-top:-24px; padding-left:10px;left:7px;}
.hotcourse li .course-detail{float:left;width:270px;padding:3px 0 0 5px;}
.hotcourse li .course-detail h4{color:#333;font-size:14px;text-overflow: ellipsis;}
.hotcourse li .course-detail .course-teacher{overflow:hidden;padding-top:5px;}
.hotcourse li .course-price{float:right;padding:10px 5px 0 0;width:65px;color:#e85308;font-size:16px;font-weight:bold; text-align:right;}
/*讲师介绍与课程预告部分*/
.teacher-predict{overflow:hidden;background-color:;}
.teacher-predict .teacher-list{width:740px;float:left;}
.teacher-predict .teacher-list h2{display:block;margin-bottom:27px;}
.teacher-predict .teacher-list h2 span{font-size:16px;margin-left:20px;}
.teacher-predict .teacher-list h2 a{font-size:16px;float:right;margin:16px 30px 0 0;}
.teacher-predict .teacher-list ul{overflow: hidden;background-color:#E13529;padding:8px 0;}
.teacher-predict .teacher-list li{float:left;margin-left:10px;background:url(../images/teach-bg.png) no-repeat top center;width: 230px;height:331px;border:2px solid #E13529;}
.teacher-predict .teacher-list li a{display:block;width:100%;height:100%;position:relative;}
.teacher-predict .teacher-list li a span{display:block;position:absolute;color:#EC321A;font-weight:bold;width:100%;text-align:center;font-style:italic;}
.teacher-predict .teacher-list li a span.name{font-size:40px;top:225px;}
.teacher-predict .teacher-list li a span.info{font-size:20px;top:275px;}
.teacher-predict .teacher-list li:hover{border:2px solid #9A2017;}
.teacher-predict .predict-list{width:430px;float:right;}
.teacher-predict .predict-list h2{margin-bottom:27px;}
.teacher-predict .predict-list ul{padding:10px;background-color:#E13529;height:331px;}
.teacher-predict .predict-list li{width:410px;height:80px;background:#e13529;background:#CC2E22;margin-bottom:3px;}
.teacher-predict .predict-list li:hover{background-color:#B71B10;}
.teacher-predict .predict-list li a{display:block;width:380px;height:50px;padding:15px 0 0 15px;font-size:14px;color: #fff;}
.teacher-predict .predict-list li a .predict-time{float:left;width:60px;font-size:16px;font-weight:bold;line-height:50px;}
.teacher-predict .predict-list li a img{float:left;width:50px;height:50px;border-radius:50%;}
.teacher-predict .predict-list li a .predict-name{float:left;line-height:1.5;overflow: hidden;width:180px;margin:5px 0 0 12px;white-space:nowrap;text-overflow:ellipsis;}
.teacher-predict .predict-list li a div{float:right;line-height:50px;margin-right:10px;}
/*投资者教育园地部分*/
.investor-education{width:1170px;margin:0 auto;padding-top:10px;overflow:hidden;}
.investor-education .edu-list{width:740px;overflow:hidden;float:left;}
.investor-education .edu-list li{width:220px;height:200px;float:left;border:1px solid #fff;padding:5px;margin:0 5px 5px;}
.investor-education .edu-list li:hover{border:1px solid #CCC;border-radius:5px;box-shadow:2px 2px 2px #ccc; -moz-box-shadow:2px 2px 2px #ccc;-webkit-box-shadow:2px 2px 2px #ccc;}
.investor-education .edu-list li img{width:220px;height:100px;border-radius:5px;}
.investor-education .edu-list li h3{font-size:14px;margin:5px 0;height:38px;}
.investor-education .edu-list li p{font-size:12px;padding-left:5px;}
.investor-education .stock-humor{width:430px;overflow:hidden;float:left;}
.investor-education .stock-humor li{float:left; width:398px;border:1px solid #F1EBEB;padding:5px; margin:0 0px 7px 20px; overflow:hidden;}
.investor-education .stock-humor li img{width:100px; height:100px; border-radius:50%; margin:10px;float:left;}
.investor-education .stock-humor li div{width:260px;float:left; margin-left:10px;}
.investor-education .stock-humor li .title{display:block;font-weight:bold;font-size:14px;margin:10px 0;}
.investor-education .stock-humor li .lists{display:block;font-size:12px;line-height:2;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/*友情链接/合作平台*/
.friend-link{border:1px solid #c3d4e7;zoom:1;overflow:auto;padding-bottom:10px}
.friend-link h5{background:none;font-size:16px;margin:0 2px;height:36px;line-height:36px;padding-left:10px;border-bottom:1px solid #dce7f3;}
.friend-link h5 img{width:22px;padding:0 3px 3px 0;}
.friend-link .link-list{padding-left:10px;}
.friend-link .link-list li{margin:5px 9px;display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle;}
.friend-link .link-list li img{width:168px;height:90px;border:1px solid #E7E7E7;}
