@charset "utf-8";
/* CSS Document */
/*单页公共区*/
.section{width:100%;}
.wrap1200,.main{width:1200px;margin:0 auto;position:relative;}
/**********************************************/
/*售后服务*/
.shouhou-banner{height:350px;background:url(../images/single-page/shouhou-banner.jpg) no-repeat top center;}
.red{color:red;}
.blue{color:#0B98DE;}
.bg3{background:#f0f0f0;}
/*介绍栏*/
.introduce{height:100px;background:#fff;}
.introduce ul li{float:left;width:25%;height:auto;}
.introduce img{float:left;margin:24px 20px;width:52px;height:52px;}
.introduce ul li p{float:left;font-size:18px;color:#000;line-height:100px;}
.introduce ul li span{float:right;width:2px;height:30px;background:#e4e4e4;margin:35px 10px;}
/*左右交替内容区*/
.wrap-lr{background:#fff;}
.wrap-lr .content{height:500px;line-height:2}
.wrap-lr .content>div{width:600px;}
.wrap-lr .content img{padding:0 39px;}
.wrap-lr .content .text{width:530px;padding-left:70px;padding-top:20px;}
.wrap-lr .content h2{text-align:left;color:#0B98DE;font-weight:400;font-size:26px;}
.wrap-lr .content p{font-size:16px;}
.wrap-lr .content p span{font-size:18px;}
.wrap-lr .left>div{float:left;}
.wrap-lr .right>div{float:right;}
.wrap-lr .content ul{font-size:14px;line-height:2;padding:10px;overflow:hidden;}
.wrap-lr .content ul li{width:245px;float:left;margin:6px 0;}
.wrap-lr .content .button{clear:both;background:#0B98DE;font-size:18px;width:102px;padding:5px 15px;border-radius:13px;margin-left:10px;margin-top:10px;}
.wrap-lr .content .button a{color:#fff;}
/*全方位服务*/
.service{width:100%;height:500px;background:url(../images/single-page/service.png) no-repeat center center; background-color:#0383bb;}
.service .content{width:1200px;margin:0 auto;color:#fff;line-height:1.5;}
.service .content h2{height: 80px;font-size:28px;line-height: 65px;padding-top:30px; background:url(../images/single-page/title.png) no-repeat center bottom;text-align:center;}
.service .content>div{width:135px;float:left;}
.service .content>div+div{margin-left:110px;}
.service .content .div1{margin-top:55px;margin-left:50px;}
.service .content .div2{margin-top:70px;}
.service .content .div3{margin-top:130px;}
.service .content .div4{margin-top:65px;}
.service .content .div5{margin-top:60px;}
.service .content .image-div{width:110px;height:110px;border-radius:50%;background:#fdd25d;margin:0 9px;}
.service .content .image-div img{width:60px;padding:25px;height:60px;}
.service .content h3{font-size:18px;margin:20px 0 8px;text-align:center;}
.service .content p{font-size:16px;text-align:justify;}
/*360°服务*/
.service360{background:#fff;padding:30px 0;overflow:hidden;}
.service360 h2{font-size:40px; padding:30px;text-align:center;}
.gradient-bg1{background:#44a7d2\9;background: -moz-linear-gradient(top,#ffffff,#cfeaf1);background:-webkit-gradient(linear,top,from(#ffffff),to(#cfeaf1));background:-webkit-linear-gradient(top,#ffffff,#cfeaf1);background: -o-linear-gradient(top,#ffffff,#cfeaf1);}
.gradient-bg2{background:#44a7d2\9;background: -moz-linear-gradient(top,#cfeaf1,#ffffff);background:-webkit-gradient(linear,top,from(#cfeaf1),to(#ffffff));background:-webkit-linear-gradient(top,#cfeaf1,#ffffff);background: -o-linear-gradient(top,#cfeaf1,#ffffff);}
.service360 .content>div{width:160px;height:238px;float:left;padding:20px;margin-top:8px;}
.service360 .content>div img{width:70px; padding:20px 45px 5px;}
.service360 .content>div h3{font-size:18px;padding: 0 20px 5px;text-align:center;}
.service360 .content>div p{font-size:16px; text-align:justify;}
/*VIP尊享特权*/
.vip-service{ background:url(../images/single-page/vip-bg.png) no-repeat top center;height:540px;width:100%;padding-top:60px;color:white;}
.vip-service .content{ width:1200px; margin:0 auto;}
.vip-service .content h2{font-size:32px;text-align:center;}
.vip-service .content p{text-align:center;font-size:16px;line-height:30px;letter-spacing:1px;}
.vip-service .content ul{padding-top:40px;}
.vip-service .content li{width:25%;float:left;text-align:center;padding:15px;box-sizing:border-box;}
.vip-service .content li img{vertical-align:middle;}
.vip-service .content li p{margin-top:20px;}
/**********************************************/
/*股民学校开始*/
.school-banner{ background:url(../images/single-page/school-banner.gif) no-repeat center center;width:100%;height:200px;}
.bg1{background:url(../images/single-page/jiantou.png) no-repeat center center;background-color:#F0F0F0;height:268px;}
.bg2{background:#f5f5f5;}
.wrap1200 h2{padding:35px 0 0 110px;font-size:30px;font-weight:400;color:#968969;}
.wrap1200 h2 b{display:block;position:absolute;top:-80px;}
.wrap1200::before{content:"";width:0;height:100%;border-right:6px solid #b4b4b4;position:absolute;left:37px;top:0;z-index:10;}
.wrap1200::after{content:"";width:80px;overflow:hidden;height:80px;position:absolute;left:0;top:15px;z-index:12;}
/*股民成长路线*/
.item1{height:268px;}
.item1 p{padding-left:120px;font-size:16px;}
.item1 a{font-size:24px;font-family:黑体;text-shadow:#333 0px 3px 5px;position:absolute;}
.item1 a:hover{text-shadow:#008bdd 0px 5px 5px;color:#008bdd;}
.item1 .step1{top:170px;left:290px;}
.item1 .step01{top:215px;left:290px;}
.item1 .step2{top:110px;left:525px;}
.item1 .step02{top:155px;left:525px;}
.item1 .step3{top:55px;left:750px;}
.item1 .step03{top:100px;left:750px;}
.item1::after{background: url(../images/single-page/school-icon1.png) no-repeat;}
/*最新课程*/
.item2 ul{width:1060px;padding:30px 0 25px 110px;overflow:hidden;}
.item2 li{width: 318px;height:296px;border:1px solid #d6d6d6;float:left;overflow:hidden;box-shadow:0 4px 8px #cecdcd;background:#fff;padding:15px 10px;margin:0 13px 14px 0;position:relative;}
.item2 li img{width:318px;height:163px;overflow:hidden;}
.item2 li span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;font-size:18px;display:inline-block;
padding-top:14px;height:38px;}
.item2 li p{color:#666;font-size:14px;line-height: 24px;}
.item2 li:hover{box-shadow:0 8px 16px #b1abab;}
.item2::after{background: url(../images/single-page/school-icon2.png) no-repeat;}
/*入门课程*/
.item3 ul{width:1060px;padding:30px 0 25px 110px;overflow:hidden;}
.item3 li{width:338px;border:1px solid #d6d6d6;float:left;overflow:hidden;box-shadow:0 4px 8px #cecdcd;background:#fff;margin:0 13px 14px 0;height:405px;border-radius:4px 4px 0 0;position:relative;}
.item3 li:hover{box-shadow:0 8px 16px #b1abab;}
.item3 li h3{width:100%;height:81px;font-size:26px;text-align:center;line-height:81px;background:#d89c9c;-webkit-transition:background 0.4s ease;-moz-transition:background 0.4s ease;-o-transition:background 0.4s ease;transition:background 0.4s ease;}
.item3 li h3 a{color:#fff;}
.item3 li h3:hover{background:#d67373;}
.item3 li .text{padding:25px 12px 25px;overflow:hidden;}
.item3 li p.intro{height:28px;font-size:18px;}
.item3 li p.intro-text{font-size:14px;color:#666;line-height:24px;margin-bottom:15px;width:100%;height:48px;overflow:hidden;text-overflow:-o-ellipsis-lastline;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.item3 li span{display:block;height:32px;font-size:16px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:103%;}
.item3 li i.more{display:block;position:absolute;bottom:24px;right:15px;padding-top:5px;text-align:right;font-size:12px;font-style:normal;}
.item3 li i.more a{color:#999;}
.item3 li i.more a:hover{color:#f60;}
.item3::after{background: url(../images/single-page/school-icon3.png) no-repeat;}
/*进阶课程*/
.item3.item4 li h3{background:#d67373;}
.item3.item4 li h3:hover{background:#c55656;}
.item4::after{background: url(../images/single-page/school-icon4.png) no-repeat;}
/*实战课程*/
.item3.item5 li h3{background:#c55656;}
.item3.item5 li h3:hover{background:#bd3a3a;}
.item5::after{background: url(../images/single-page/school-icon5.png) no-repeat;}
/*炒股秘籍*/
.item3.item6 li h3{background:#bd3a3a;}
.item3.item6 li h3:hover{background:#ca0101;}
.item6::after{background: url(../images/single-page/school-icon6.png) no-repeat;}
/*侧边导航*/
.school-guid{width:122px;height:360px;background:url(../images/single-page/jiantou-left1.png) no-repeat center center;position:fixed;left:50%;margin-left:580px;top:369px;}
.school-guid a{position:absolute;width:20px;line-height:1;font-size:18px;font-family:黑体;text-shadow:#888 3px 0px 5px;position:absolute;}
.school-guid a:hover{text-shadow:#008bdd 5px 0px 5px;color:#008bdd;}
.school-guid .guid0{top:172px;left:25px;}
.school-guid .guid1{top:266px;left:28px;}
.school-guid .guid2{top:160px;left:58px;}
.school-guid .guid3{top:48px;left:85px;}
.school-guid .guid4{top:65px;left:52px;}
.school-guid .top{margin-top:360px;margin-left:-12px;width:80px;font-size:18px;font-family:黑体;text-shadow:#333 0px 3px 5px;cursor:pointer;display:none;}
.school-guid .top:hover{text-shadow:#008bdd 0px 5px 5px;color:#008bdd;}
/*股民学校结束*/
/**********************************************/
/*学员感言开始*/
.student-banner{background:#137f60;border:15px solid #723720;border-left-width:20px;border-right-width:20px;height:180px;margin:3px 0;text-indent:1em;font-size:20px;font-weight:600;color:#fff;line-height:80px;}
.student-left{float:left;width:236px;background:url(../images/single-page/square.png) no-repeat left top;padding: 18px 0 0 23px;}
.student-left .ul{margin:5px 0;}
.student-left .ul h3{font-size:18px;border-bottom:1px solid #fff;height:32px;font-weight:400;line-height:32px;padding-left:10px;}
.student-left .ul li{font-size:14px;line-height:2;border-radius:3px;padding:0 15px;-webkit-transition:background 0.4s ease;-moz-transition:background 0.4s ease;-o-transition:background 0.4s ease;transition:background 0.4s ease;}
.student-left .ul li a{display:block;}
.student-left .ul li span{padding-right:10px;}
.student-left .ul li:hover a{color:#fff;}
.student-left .ul.ul1{background:#6bb7d4;}
.student-left .ul.ul1 li:hover{background:#013976;}
.student-left .ul.ul2{background:#ffc0c0;}
.student-left .ul.ul2 li:hover,.student-left .ul.ul2 li.hover{background:#f37676;}
.student-right{margin-left:270px;padding:10px 0 0 10px; position:relative;}
.student-right p{font-size:14px;line-height:1.5;}
.student-right p a:hover{color:blue;text-decoration:underline;}
.student-right ul{border:1px solid #abbfec;padding:10px;margin:5px 0; padding-bottom:40px;}
.student-right li{margin:0 2px 10px 0;border-bottom:1px dashed #abbfec;}
.student-right li .student{}
.student-right li .student .name{font-size:14px;font-family:"宋体";font-weight:600;}
.student-right li .student .name .time{font-size:14px;font-family:"微软雅黑";font-weight:400;color:#888;}
.student-right li .student .word{font-size:14px;line-height:1.8;text-indent:2em;}
.student-right .page-guid{position:absolute;bottom: 20px;
    right: 5px;}
.student-right .page-guid span{font-size:14px;padding:0 3px;border:1px solid #89aeff;color:#445bc5;margin:0 4px;}
.student-right .page-guid span.disable{color:#969696;border-color:#969696;}
.student-right .page-guid span.page{padding:0 6px;}
.student-right .page-guid span.now{background:#1c68c0;color:#fff;}
.student-right .page-guid span a{color:#445bc5;}





















